<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bearm.unknownsanta">

    <uses-permission
        android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_unknown_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_unknown_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".activities.EventsActivity"
            android:theme="@style/AppTheme.MaterialComponents" />
        <activity
            android:name=".activities.CreateEventActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.MaterialComponents" />
        <activity
            android:name=".activities.AddParticipantActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.MaterialComponents" />
        <activity
            android:name=".activities.EventsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.MaterialComponents">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ParticipantShuffleActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".eMailSender.EmailCreator" />
    </application>

</manifest>